Flask==0.12
Flask_Script==2.0.5
SQLAlchemy==1.2.2
Flask_Admin==1.5.0
alembic==0.9.7
Flask_SQLAlchemy==2.1
Fabric3==1.14.post1
Flask_Mail==0.9.1
Flask_WTF==0.14.2
Flask_Babel==0.11.2
Flask_Bootstrap==3.3.7.1
Flask-User==0.6.19
pytest==3.0.5
Flask_Migrate==2.0.2
WTForms==2.1
Fabric==1.14.0
